//* {Navigation.js} styles

.navigation {
    font-family: 'GoodTimesMain' !important;
    position: fixed;
    width: 100%;

    &.open {
        animation: fade-in .9s;
        opacity: 1;
    }
    &.close {
        opacity: 0;

        .menu-block {
            display: none;
        }
    }
        @keyframes fade-in {
            0% {
                opacity:0;
            }
            60% {
                opacity:0;
            }
            100% {
                opacity:1;
            }
        }

    .menu-block {
        position: fixed;
        z-index: 999;
        padding: 3em;
        background: $woch_bcg-black_blur;
        backdrop-filter: blur(5px);
        
        .web-links {
            .-mb-text {
                display:flex;
                justify-content: center;
                color: $woch_text-primary;
                font-size: 1em;

                &:not(:first-child){
                    margin: 3em 0;
                }
                &:first-child {
                    margin-bottom: 3em;
                }

                &:not(.disabled) {
                    cursor: pointer;

                    &:hover,
                    &.active {
                        span {
                            color: $woch_text-highlight;
                        }
                    }
                }

                &.disabled {
                    display:flex;
                    flex-direction: column;
                    align-items: center;
                    
                    span {
                        text-decoration: line-through;
                    }
                    small {
                        padding-top: 1.2em;
                    }
                }
            }
        }
        .social-links {
            display:flex;
            justify-content: space-evenly;
        }
        @media (min-width: 500px){
            bottom: 6em;
            right: 0;
            margin-right: 2em;
        }
        @media (max-width: 499px){
            bottom: 15%;
        }
    }

    @media (max-width: 499px){
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}
