//* {Footer} styles

.footer {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    overflow: hidden;

    @media (min-width: 500px){
        bottom: 3em;
        justify-content: space-between;
    }
    @media (max-width: 499px){
        bottom: 2em;
        justify-content: center;
    }
    
    .icons {
        display: flex;
        align-items: center;
        
        svg {
            margin-right: 0.5em;
        }

        @media (min-width: 500px) {
            .-ic {
                &.menu-inactive{
                    -webkit-transform: translateY(2px);
                    -ms-transform: translateY(2px);
                    -o-transform: translateY(2px);
                    transform: translateY(2px);
                }
                &.menu-active{
                    -webkit-transform: translateY(60px);
                    -ms-transform: translateY(60px);
                    -o-transform: translateY(60px);
                    transform: translateY(60px);
                    position:absolute;
                    opacity:0;
                }
            }
            .-ic-after {
                color: $woch-highlight;

                &.menu-inactive{
                    -webkit-transform: translateY(-60px);
                    -ms-transform: translateY(-60px);
                    -o-transform: translateY(-60px);
                    transform: translateY(-60px);
                    position: absolute;
                    opacity: 0;
                }
                &.menu-active{
                    -webkit-transform: translateY(2px);
                    -ms-transform: translateY(2px);
                    -o-transform: translateY(2px);
                    transform: translateY(2px);
                }
            }
    
            .-ic,
            .-ic-after {
                position: absolute;

                &.menu-active,
                &.menu-inactive {
                    -webkit-transition: all 1.2s;
                    -o-transition: all 1.2s;
                    transition: all 1.2s;
                }
            }
        }

        @media (max-width: 499px) {
            display: none;
        }
    }

    .menu-icon {
        .menu-opener {
            .line {
                display: block;
                border-radius: 5px;
                background-color: $woch_text-primary;
                box-shadow: $woch-menu_shadow;

                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;

                @media (min-width: 500px){
                    width: 30px;
                    height: 3px;
                    margin: .32em 0;
                }
                @media (max-width: 499px){
                    width: 40px;
                    height: 4px;
                    margin: .42em 0;
                }
            }

            &:hover {
                cursor: pointer;

                .line {
                    background-color: $woch-highlight;
                }
            }

            &.inactive {
                animation: flash 1s;
            }
            @keyframes flash {
                0% {
                    opacity:1;
                }
                15% {
                    opacity:0;
                }
                35% {
                    opacity:1;
                }
                100% {
                    opacity:1;
                }
            }     

            &.active {                  
                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;

                -webkit-transition-delay: .6s;
                -o-transition-delay: .6s;
                transition-delay: .6s;

                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);

                .line {
                    &:nth-child(1) {
                        -webkit-transition-delay: .3s;
                        -o-transition-delay: .3s;
                        transition-delay: .3s;
                    }
                    &:nth-child(2) {
                        width: 0px;
                    }
                    &:nth-child(3) {
                        -webkit-transition-delay: .5s;
                        -o-transition-delay: .5s;
                        transition-delay: .5s;
                    }

                    @media (min-width: 500px){
                        &:nth-child(1) {
                            -webkit-transform: translateY(13px);
                            -ms-transform: translateY(13px);
                            -o-transform: translateY(13px);
                            transform: translateY(13px);
                        }
                        &:nth-child(3) {
                            -webkit-transform: translateY(-4px) rotate(90deg);
                            -ms-transform: translateY(-4px) rotate(90deg);
                            -o-transform: translateY(-4px) rotate(90deg);
                            transform: translateY(-4px) rotate(90deg);
                        }
                    }
                    @media (max-width: 499px){
                        &:nth-child(1) {
                            -webkit-transform: translateY(10px);
                            -ms-transform: translateY(10px);
                            -o-transform: translateY(10px);
                            transform: translateY(10px);
                        }
                        &:nth-child(3) {
                            -webkit-transform: translateY(-11px) rotate(90deg);
                            -ms-transform: translateY(-11px) rotate(90deg);
                            -o-transform: translateY(-11px) rotate(90deg);
                            transform: translateY(-11px) rotate(90deg);
                        }
                    }
                }
            }
        }
    }
}
