//* {App.js} styles - global settings

#header,
#footer,
#main {
    @media (min-width: 768px){
        padding-right: 2em;
        padding-left: 2em;
    }
    @media (max-width: 767px){
        padding-right: 1em;
        padding-left: 1em;
    }
}

p,
span,
small,
i,
br,
hr {
    &.highlight {
        color: $woch_text-highlight;
    }
}

a {
    &.highlight {
        &:hover {
            color: $woch_text-highlight;
            cursor: pointer;
        }
    }
}

.main-content {
    .-mc-text-area {
        line-height: 1.8em;
        
        @media (min-width: 768px){
            max-width: 55vw;
            margin-left: auto;
            margin-right: auto;
            padding: 5em 0;
        }
        @media (max-width: 767px){
            padding: 3em 0 6em 1em;
        }

        ul {
            &.highlight-bullets {
                margin: 15px 0;
                list-style: none;

                li {
                    padding-left: 15px;
                    display: flex;

                    &::before {
                        color: $woch_text-highlight;
                        content: "#";
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.visible-small {
    @media (min-width: 768px){
        display: none;
    }
}
