.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1100px) {
        width: 1070px;
    }
    @media (min-width: 1300px) {
        width: 1170px;
    }@media (min-width: 1300px) {
        width: 1270px;
    }
    @media (min-width: 1400px) {
        width: 1370px;
    }
}
