//* {App.js} styles - global settings

#header,
#footer,
#main {
    @media (min-width: 768px){
        padding-right: 2em;
        padding-left: 2em;
    }
    @media (max-width: 767px){
        padding-right: 1em;
        padding-left: 1em;
    }
}


p,
span,
small,
i,
br,
hr {
    &.highlight {
        color: $woch-highlight;
    }
}

a {
    &.highlight {
        &:hover {
            color: $woch-highlight;
            cursor: pointer;
        }
    }
}

a {
    text-decoration: unset;

    &:hover {
        color: $woch-highlight;
    }
}

a, p, i,
span, small, sup,
h1, h2, h3, h4, h5, h6 {
    transition: all .1s ease-in;
}

.-highlight {
    color: $woch-highlight;
}
.-text-center {
    text-align: center;
}

.visible-small {
    @media (min-width: 768px){
        display: none;
    }
}

.main-content {
    .-mc-text-area {
        line-height: 1.8em;

        @media (min-width: 768px){
            max-width: 55vw;
            margin-left: auto;
            margin-right: auto;
        }

        @media (min-width: 768px){
            padding: 5em 0;
        }

        @media (max-width: 767px){
            padding: 3em 0 6em 1em;
        }


    }

    .-mc-text-area,
    .-mc-component-area {
        ul {
            &.highlight-bullets {
                margin: 15px 0;
                list-style: none;

                li {
                    padding-left: 15px;
                    display: flex;

                    &::before {
                        color: $woch-highlight;
                        content: "#";
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.btn-home {
    background-color: $woch_bcg-components;
    color: $black;
    padding: .4em .6em;
    font-size: 1.2em;
    margin-top: 2em;

    &:hover {
        background-color: $woch-highlight;
        color: $black;
    }
}
