//* {Header.js} styles

.header {
    background: $woch_bcg-green_gradient;
    box-shadow: 0 3px 6px #00000032;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

}
