//{Header.js} styles
.header {
    background-color: #fff;
    box-shadow: 0 3px 6px #3636361b;


    display: flex;
    justify-content: center;
    align-items: center;


    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

}
