//* {icons config}

.icons,
.social-links {
    .-f-icon {
        
        &:not(.disabled) {
            cursor: pointer;
        }

        &:hover {
            &:not(.disabled) {
                svg {
                    .-f-icon-bcg {
                        transition: all .3s ease-in-out;
                        fill: $woch-highlight;
                    }
                }
            }
        }

        svg {
            max-height: 1.8em;

            .-f-icon-bcg {
                fill: $woch_bcg-icons;
            }
        }
    }
}

