//* {fonts config}

    @font-face{
        font-family: 'GoodTimesMain';
        font-style: normal;
        font-weight: 700;
        src: url('./fonts/good_times/good_times_rg.otf') format('opentype');
    }

    @font-face{
        font-family: 'GoodTimesMain_rg';
        font-style: normal;
        font-weight: 100;
        src: url('./fonts/good_times/good_times_rg.otf') format('opentype');
    }


//*


//* {base loads}

    * {
        font-family:    'Source Code Pro', monospace;
    }

    h1, h2, h3, h4, h5,
    .navigation a,
    .navigation small,
    .navigation span {
        font-style: normal;
        font-family: 'GoodTimesMain';

        &.main-title {
            text-align: center;
        }
    }

    .navigation {
        small {
            font-size: .4em;
        }
    }

    h1, h2, h3 {
        font-weight: 700;
    }
    h4, h5, h6 {
        font-weight: 100;
    }

    @media (min-width: 768px) {
        p, a, i, q, b, s,
        strong, span,
        ul, li {
            font-size: 16px
        }

        h1 {
            font-size: 1.5em;
        }
    }
    @media (max-width: 767px) {
        p, a, i, q, b, s,
        strong, span,
        ul, li {
            font-size: 14.5px;
        }

        h1 {
            font-size: 1.3em;
        }
    }
    

    h6 {
        font-size: 16px;
        font-weight: 700;
    }

//*