//{Navigation.js} styles

.menu-block {
    .-mb-text {
        color: $woch_text-primary;
        display:flex;
        cursor: pointer;

        &:hover {
            color: $woch_text-highlight;
        }
    }
}
