//{base_root styles}

// html, body{
//     height: 100%;
//     margin: 0;
//     overflow:hidden;
// }
// ::-moz-selection { /* Code for Firefox */
//     /* color: red; */
//     background: white;
// }
// ::selection {
//     /* color: red; */
//     background: white;
// }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;

    color: $woch_text-primary;
} 

a {
    text-decoration: none;
    transition: all .1s ease-in;
}

#main {
    padding-top: 120px;
}

#root {
    height: 100vh;

    @media (max-width: 767px){
        background: url("/public/images/bcg.jpg");
        background-size: cover;
        background-position: center;
    }
    @media (min-width: 768px){
        background: url("/public/images/bcg.jpg");
        background-size: cover;
        background-position: center;
    }
}


#header,
#footer,
#main {
    @media (min-width: 768px){
        padding-right: 2em;
        padding-left: 2em;
    }
    @media (max-width: 767px){
        padding-right: 1em;
        padding-left: 1em;
    }
}

