// primaryColor     -> #A4D1EB
// secondaryColor   -> #D92A2A
// primaryTextColor -> #363636

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
}

::-moz-selection { /* Code for Firefox */
    /* color: red; */
    background: white;
}
::selection {
    /* color: red; */
    background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
}

p {
    font-size: 16px;
}
