//* {base::root styles}

* {
    box-sizing:     border-box;
    margin:         0;
    padding:        0;
    color:          $woch_text-primary;
}

body {
    background: $woch_bcg-green_gradient;
}

#root {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -ms-overflow-style: none;
    scrollbar-width: none;

    height: 100vh;
    overflow-x: hidden;

    background-position: center;
    background-color: transparent;
    background-image:
        linear-gradient( $woch_bcg-green_grid .1em, transparent .1em ), 
        linear-gradient( 90deg, $woch_bcg-green_grid .1em, transparent .1em );

    @media (min-width: 768px) {
        background-size: 5em 5em;
        padding: 120px 0 80px 0;

        &::-webkit-scrollbar { 
            display: none;
        }
    }
    @media (max-width: 767px) {
        background-size: 4em 4em;
        padding: 100px 0 80px 0;
    }

    #contact,
    #shop {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;

        ::selection {
            background: #295838;
            color: $woch_text-primary;
        }
    }
}

a {
    text-decoration: unset;

    &:hover {
        color: $woch_text-highlight;
    }
}

h1, h2, h3, h4, h5, h6 {
    &.main-title {
        text-align: center;
    }
}

a, p, i,
span, small, sup,
h1, h2, h3, h4, h5, h6 {
    transition: all .1s ease-in;
}
