//* {global} variables

//* base colors
    $black: #000;
    $white: #fff;
//*

//* woch colors
    $woch_text-light:                   #afafaf;
    $woch_text-dark:                    #2e2e2e;

    $woch-highlight:                    #8ffab5;

    $woch_bcg-grid:                     rgba(142,159,148, .2);
    // $woch_bcg-green_gradient:       linear-gradient(90deg, #191D15, #1b2019, #191D15);
    $woch_bcg-light:                    linear-gradient(90deg, #AFAFAF, #BFBFBF, #AFAFAF);
    $woch_bcg-black_blur:               rgba(0, 0, 0, .5);
    $woch_bcg-icons:                    #a2a2a2;
    $woch_bcg-components:               #a2a2a2;
    $woch_bcg-components_dark:          #2e2e2e;
    $woch_bcg-components_dark-hover:    #2e2e2ec3;

    $woch-menu_shadow:              0 1px 3px #0000009c;
//*
