//* {Navigation} styles

.navigation {
    font-family: 'GoodTimesMain' !important;
    position: fixed;
    width: 100%;

    &.open {
        animation: fade-in .9s;
        opacity: 1;
    }
    &.close {
        opacity: 0;

        .menu-block {
            display: none;
        }
    }
        @keyframes fade-in {
            0% {
                opacity:0;
            }
            60% {
                opacity:0;
            }
            100% {
                opacity:1;
            }
        }

    .menu-block {
        position: fixed;
        z-index: 999;
        background: $woch_bcg-black_blur;
        backdrop-filter: blur(7px);

        @media (min-width: 768px) {
            bottom: 6em;
            right: 0;
            margin-right: 2em;
        }
        @media (max-width: 767px) {
            bottom: 15%;
        
            @media (max-height: 400px) {
                bottom: 25%;
            }
        }

        @media (min-height: 550px){
            padding: 3em;
        }
        @media (max-height: 549px){
            padding: 1.5em;
        }
        @media (max-width: 568px) {
            @media (max-height: 400px){
                padding: 1em;
                margin: 0;
                bottom: 5em;
            }
        }
        
        .web-links {
            @media (max-height: 549px){
                padding-bottom: .5em;
            }

            .-mb-text { 
                justify-content: center;
                color: $woch_text-light;
                font-size: 1em;

                @media (min-height: 550px){
                    display: flex;

                    &:not(:first-child){
                        margin: 3em 0;
                    }
                    &:first-child {
                        margin-bottom: 3em;
                    }
                }
                @media (max-height: 549px) {
                    display: inline-flex;
                    align-items: center;
                    margin: 2em 1.5em;
                }
                @media (max-width: 830px) {
                    @media (max-height: 549px){
                        margin: 2em 1em;
                    }
                }
                @media (max-height: 399px) {
                    margin: 3em 0.5em;
                }
                @media (max-width: 568px) {
                    @media (max-height: 400px){
                        margin: 1em;
                    }
                }

                &:not(.disabled) {
                    cursor: pointer;

                    &:hover,
                    &.active {
                        span {
                            color: $woch-highlight;
                        }
                    }
                }

                &.disabled {
                    flex-direction: column;
                    align-items: center;
                    cursor: auto;
                    
                    span {
                        text-decoration: line-through;
                    }
                    small {
                        padding-top: 1.2em;
                    }

                    @media (max-height: 400px) {
                        display: none;
                    }
                }
            }
        }
        .social-links {
            display:flex;
            justify-content: space-evenly;
        }
    }

    @media (max-width: 767px){
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}
