//* {App.js} styles - global settings

#lang-switch {
    position: absolute;
    right: 0;
    bottom: 0;
}

#header,
#footer,
#main {
    @media (min-width: 768px){
        padding-right: 2em;
        padding-left: 2em;
    }
    @media (max-width: 767px){
        padding-right: 1em;
        padding-left: 1em;
    }
}


p,
span,
small,
i,
br,
hr {
    &.highlight {
        color: $woch_text-dark;
        font-weight: 700;
    }
}

a {
    text-decoration: unset;
    color:  $woch_text-dark;

    &:hover {
        color: $woch-highlight;
        cursor: pointer;
    }
}

a, p, i,
span, small, sup,
h1, h2, h3, h4, h5, h6 {
    transition: all .1s ease-in;
}

.-highlight {
    color: $woch_text-dark;
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.visible-small {
    @media (min-width: 768px){
        display: none;
    }
}

.main-content {
    .-mc {
        &-global {
            @media (min-width: 768px){
                max-width: 55vw;
            }
            @media (max-width: 767px){
                padding: 3em 0 6em 1em;
            }
        }

        &-shop {
            @media (min-width: 768px) {
                max-width: 70vw;
            }
            @media (min-width: 1700px) {
                max-width: 65vw;
            }    
            @media (min-width: 2100px) {
                max-width: 55vw;
            }
            @media (min-width: 2700px) {
                max-width: 1400px;
            }
            @media (max-width: 767px) {
                padding: 3em 0 6em 0;

                @media (min-width: 520px) {
                    max-width: 70vw;
                }
            }
        }

        &-global,
        &-shop {
            line-height: 1.8em;
            margin-left: auto;
            margin-right: auto;

            @media (min-width: 768px){
                padding: 5em 0;
            }
        }

        &-important-note {
            margin-top: 6em;
        }
    }

    .-mc-global,
    .-mc-component-area {
        ul {
            &.highlight-bullets {
                margin: 15px 0;
                list-style: none;

                li {
                    padding-left: 15px;
                    display: flex;

                    &::before {
                        color: $woch_text-dark;
                        font-weight: 700;
                        content: "#";
                        margin-right: 15px;
                    }
                }
            }
        }
    }
}

.btn-home {
    background-color: $woch_bcg-components;
    color: $black;
    padding: .4em .6em;
    font-size: 1.2em;
    margin-top: 2em;

    &:hover {
        background-color: $woch_text-dark;
        color: $woch_text-light;
    }
}

.svg-action-icon {

    &:focus,
    &:hover,
    &:focus-visible,
    &:active,
    &:target,
    &:visited {
        outline: none;
    }

    &:not(:hover) {
        animation: blink-animation 1.3s infinite;
        -webkit-animation: blink-animation 1.3s infinite;
    }

    svg {
        fill: $woch_text-dark;
        transition: all .3s ease-in-out;

        &:focus,
        &:hover,
        &:focus-visible,
        &:active,
        &:target,
        &:visited {
            outline: none;
        }
    }

    &:hover {
        svg {
            fill: $woch-highlight;
        }
    }

    @keyframes blink-animation {
        from {
            opacity: .15;
        }
        to {
          opacity: 1;
        }
    }
    @-webkit-keyframes blink-animation {
        from {
            opacity: .15;
        }
        to {
          opacity: 1;
        }
    }
}


//* global margin classes
    .mt-1 {
        margin-top: 1em;
    }
    .mr-1 {
        margin-right: 1em;
    }
    .mb-1 {
        margin-bottom: 1em;
    }
    .ml-1 {
        margin-left: 1em;
    }
    .m-1 {
        margin: 1em;
    }

    .mt-2 {
        margin-top: 2em;
    }
    .mr-2 {
        margin-right: 2em;
    }
    .mb-2 {
        margin-bottom: 2em;
    }
    .ml-2 {
        margin-left: 2em;
    }
    .m-2 {
        margin: 2em;
    }
//* end margin classes

.bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.underline {
    text-decoration: underline;
}

.capitalize {
    text-transform: capitalize;
}

.xs-mob {
    @media (min-width: 768px){
        display: none;
    }
}
.xs-none {
    @media (max-width: 767px){
        display: none;
    }
}
