//* {icons config}

.icons,
.social-links {
    .-f-icon {
        &:not(.disabled) {
            cursor: pointer;
        }

        svg {
            max-height: 1.8em;

            .-f-icon-bcg {
                fill: $woch_bcg-icons;
            }
            .-f-icon-inner {
                fill: $woch_text-dark;
            }
        }

        &:hover {
            &:not(.disabled) {
                svg {
                    .-f-icon-bcg {
                        transition: all .3s ease-in-out;
                        fill: $woch-highlight;
                        font-weight: 700;
                    }
                    // .-f-icon-inner {
                    //     fill: $woch_text-light;
                    // }
                }
            }
        }
    }
}

