.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1001;

    &-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $woch_bcg-light;
        box-shadow: 0 0 18px rgba(0, 0, 0, 0.55);
    
        @media (max-width: 767px) {
            width: 90vw;
        }
        @media (min-width: 1199px) {
            width: 90vw;
        }
        @media (min-width: 1499px) {
            max-width: 90%;
        }
        @media (min-width: 1800px) {
            max-width: 1700px;
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin-top: 3em;
        padding: 1em 2em;

        @media (max-width: 767px) {
            height: 65vh;
        }
        @media (min-width: 768px) {
            height: 70vh;
        }

        @media (min-height: 1000px) {
            height: 80vh;
            max-height: 900px;
        }
        @media (min-width: 2000px) and (min-height: 1100px) {
            height: 90vh;
            max-height: 900px;
        }
        @media (min-width: 2000px) and (min-height: 1200px) {
            height: 90vh;
            max-height: 1000px;
        }

        &-header {
            z-index: 1003;
            &-close {
                position: fixed;
                top: 8px;
                right: 8px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
