//* {sign-in subs. page config}

#subscription {
    @media (min-width: 768px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-height: 730px){
            height: calc(100vh - 304px);
        }
    }

    #sub-form {
        @media (min-width: 768px){
            padding: 5em 0;
            min-width: 600px;
        }
        @media (max-width: 767px){
            padding: 3em 0 6em 1em;
        }

        .form,
        #submit-response {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form {
            input,
            select {
                &:focus,
                &:active,
                &:hover {
                    outline: none;
                }
            }

            input,
            select,
            button {
                border-radius: 5px;
                border: 0;
                margin: 1em 0;
            }

            input[type=email],
            select[type=select] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                text-align: center;
                text-align: -webkit-center;
            }
            select option {
                text-align: center;
                text-align: -webkit-center;
            }

            &-email,
            &-country {
                &::placeholder{
                    color: $woch_text-light;
                }

                background-color: $woch_bcg-components-dark;
                color: $woch_text-light;
                min-height: 35px;

                @media (min-width: 768px){
                    font-size: .9em;
                }

                @media (max-width: 767px){
                    min-width: 60%;
                }
            }

            &-email {
                min-width: 70%;

                @media (max-width: 767px){
                    min-width: 80%;
                }
            }
            &-country {
                min-width: 50%;

                @media (max-width: 767px){
                    min-width: 60%;
                }
            }
            &-submit {
                padding: .8em 4em;

                &:not(:disabled) {
                    color: $woch_text-dark;
                    background-color: $woch_bcg-components;

                    @media (max-width: 991px) {
                        cursor: pointer;
                    }
                    @media (min-width: 992px) {
                        cursor: none;
                    }
    
                    &:hover {
                        color: $woch_text-light;
                        background-color: $woch_bcg-components_dark-hover;
                        // font-weight: 700;
                    }
                }
            }
        }
    }
}
