.modal {
    &-content {
        z-index: 1001;
        position: relative;

        &-body {
            height: 100%;

            &-product-detail {
                display: flex;
    

                @media (min-width: 991px) {
                    height: 100%;
                    align-content: center;

                    &-description,
                    &-variant {
                        width: 30%;
                    }

                    &-description {
                        padding: 3em 3em 0 1em;
                    }

                    &-variant {
                        padding: 3em 1em 0 3em;
                    }

                    &-image {
                        width: 40%;
                        align-self: center;
                        padding: 0 1em;

                        &-gallery{
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                        }
                    }
                }

                &-image {
                    &-gallery {
                        &-slider {
                            position: relative;
                            height: 100%;

                            img {
                                width: 100%;
                                
                                @media (min-width: 1200px) {
                                    max-width: 350px;
                                }
                                @media (min-width: 1600px) {
                                    max-width: 500px;
                                }
                            }
                        }

                        &-arrow-left,
                        &-arrow-right {
                            position: absolute;
                            top: 50%;
                            transform: translate(0, -50%);
                            transition: all .3 ease-in-out;

                            @media (max-width: 991px) {
                                cursor: pointer;
                            }
                            @media (min-width: 992px) {
                                cursor: none;
                            }
                        }

                        &-arrow-left {
                            left: 0;

                            .cls {
                                &-1,&-4 {
                                    fill: #999;
                                }
                                &-2 {
                                    fill: none;
                                }
                                &-3,&-4 {
                                    stroke: none;
                                }
                                &-4 {
                                    fill: #999;
                                }
                            }

                            &:hover {
                                .cls {
                                    &-1,&-4 {
                                        fill: $woch-highlight;
                                    }
                                    &-4 {
                                        fill: $woch-highlight;
                                    }
                                }
                            }
                        }
                        &-arrow-right {
                            right: 0;

                            .cls {
                                &-1,&-4 {
                                    fill: #999;
                                }
                                &-2 {
                                    fill: none;
                                }
                                &-3,&-4 {
                                    stroke: none;
                                }
                                &-4 {
                                    fill: #999;
                                }
                            }

                            &:hover {
                                .cls {
                                    &-1,&-4 {
                                        fill: $woch-highlight;
                                    }
                                    &-4 {
                                        fill: $woch-highlight;
                                    }
                                }
                            }
                        }
                    }
                }

                &-description,
                &-variant {
                    &-heading {
                        margin-bottom: 1em;
                    }
                }
                
                &-description {
                    &-nametag{
                        padding-bottom: 1em;

                        &-title,
                        &-color {
                            text-transform: uppercase;
                        }

                        &-color {
                            span {
                                font-size: .95em;
                            }
                        }
                    }

                    &-about {
                        font-size: .9em;
                        line-height: 1.6em;
                    }
                }
            }
        }
    }
}
