.modal {
    &-content {
        z-index: 1001;
        position: relative;

        &-body {
            height: 100%;

            &-product-detail {
                display: grid;
        
                @media (min-width: 1200px) {
                    grid-template-columns: repeat(3, 3fr);
                }
                @media (max-width: 1199px) {
                    grid-template-columns: repeat(2, 50%);
                }

                @media (min-width: 1200px) {
                    height: 100%;
                    align-content: center;

                    .col-no {
                        &-2 {
                            align-self: center;
                        }
                    }

                    &-description,
                    &-variant {
                        padding-left: 6em;
                    }
                }

                &-image {
                    &-gallery {
                        width: 100%;
                        overflow: hidden;
                        display: flex;
                        position: relative;

                        &-slider {
                            position: relative;
                            height: 100%;

                            img {
                                width: 100%;
                            }
                        }

                        &-arrow-left,
                        &-arrow-right {
                            position: absolute;
                            top: 50%;
                            cursor: pointer;
                            transform: translate(0, -50%);
                            transition: all .3 ease-in-out;
                        }

                        &-arrow-left {
                            left: 0;

                            .cls {
                                &-1,&-4 {
                                    fill: #999;
                                }
                                &-2 {
                                    fill: none;
                                }
                                &-3,&-4 {
                                    stroke: none;
                                }
                                &-4 {
                                    fill: #999;
                                }
                            }

                            &:hover {
                                .cls {
                                    &-1,&-4 {
                                        fill: $woch-highlight;
                                    }
                                    &-4 {
                                        fill: $woch-highlight;
                                    }
                                }
                            }
                        }
                        &-arrow-right {
                            right: 0;

                            .cls {
                                &-1,&-4 {
                                    fill: #999;
                                }
                                &-2 {
                                    fill: none;
                                }
                                &-3,&-4 {
                                    stroke: none;
                                }
                                &-4 {
                                    fill: #999;
                                }
                            }

                            &:hover {
                                .cls {
                                    &-1,&-4 {
                                        fill: $woch-highlight;
                                    }
                                    &-4 {
                                        fill: $woch-highlight;
                                    }
                                }
                            }
                        }
                    }
                }

                &-description {
                    &-title {
                        color: $woch-grey;
                    }
                }

                // &-variant {}
            }
        }
    }
}
