
.header {

    background-color: #fff;
    box-shadow: 0 3px 6px #3636361b;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

    /* position: sticky; */

}