<!DOCTYPE html>
<html lang="en">
<body>
    





    






<h1 className="-mc-title -text-center">Sustainability</h1>

<div id='contact'>
    <div className='-mc-text-area'>

        <div className='section'>
            <h6 className='-text-center'>We take it as a must.</h6>
        </div>

            <br/><br/>

        <div className='section'>
            <p>


The world is getting faster & chaotic, and so are the industries. The fashion industry is unfortunately one of many, which is losing its sustainability and ethical values. Because these values are very important, we want to help the sustainable around fashion grow and spread awareness around these core problems, which can be fixed. We are on a journey to prevent and eliminate the chaos in the world.


Ethics and sustainability values roadmap:

1. Cotton growing
2. Cotton procession
3. Cotton -> Fabric manufacturing
4. Fabric procession
5. prints          (bioprint degradable?)
6. Shippings 1st
7. Manufacturing product itself
8. Shippings 2nd

It is an approach, which guards the whole process. We do our best to maximize the benefits to the industry and society, and at the same time minimize the impact on the environment and humanity.
	Namely:
		Designing
		Sourcing
		Manufacturing
		Shipping / Store displaying (ye’s ideas - bags instead of re-hanging clothes)

Ethical means something that is morally right and acceptable. Therefore, ethical and sustainable fashion does not start from manufacturing clothes. It starts from the cotton fields and ends in consumer's wardrobe.



We don’t talk much, we execute & actualize

Certifications:

1. 2. 3. 4. 5. 6. 

            </p>
        </div>

    </div>
</div>







</body>
</html>