* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  color: #afafaf;
}

body {
  background: -webkit-gradient(linear, left top, right top, from(#1E2419), color-stop(#1c201a), to(#1E2419));
  background: linear-gradient(90deg, #1E2419, #1c201a, #1E2419);
}

#root {
  height: 100vh;
  overflow-x: hidden;
  background-position: center;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.1em, rgba(142, 159, 148, 0.07)), color-stop(0.1em, transparent)), -webkit-gradient(linear, left top, right top, color-stop(0.1em, rgba(142, 159, 148, 0.07)), color-stop(0.1em, transparent));
  background-image: linear-gradient(rgba(142, 159, 148, 0.07) 0.1em, transparent 0.1em), linear-gradient(90deg, rgba(142, 159, 148, 0.07) 0.1em, transparent 0.1em);
}
@media (min-width: 768px) {
  #root {
    background-size: 5em 5em;
  }
}
@media (max-width: 767px) {
  #root {
    background-size: 4em 4em;
  }
}

a {
  text-decoration: unset;
}
a:hover {
  color: #8ffab5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
h1.main-title,
h2.main-title,
h3.main-title,
h4.main-title,
h5.main-title,
h6.main-title {
  text-align: center;
}

a,
p,
i,
span,
small,
sup,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

#main {
  padding-top: 120px;
}

@media (min-width: 768px) {
  #header,
#footer,
#main {
    padding-right: 2em;
    padding-left: 2em;
  }
}
@media (max-width: 767px) {
  #header,
#footer,
#main {
    padding-right: 1em;
    padding-left: 1em;
  }
}

.header {
  background: -webkit-gradient(linear, left top, right top, from(#1E2419), color-stop(#1c201a), to(#1E2419));
  background: linear-gradient(90deg, #1E2419, #1c201a, #1E2419);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1960784314);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1960784314);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navigation {
  position: fixed;
  width: 100%;
}
.navigation.open {
  -webkit-animation: fade-in 0.9s;
          animation: fade-in 0.9s;
  opacity: 1;
}
.navigation.close {
  opacity: 0;
}
.navigation.close .menu-block {
  display: none;
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.navigation .menu-block {
  position: fixed;
  z-index: 999;
  padding: 3em;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navigation .menu-block .-mb-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afafaf;
  cursor: pointer;
  margin: 2em 0;
  font-size: 1.2em;
}
.navigation .menu-block .-mb-text:hover {
  color: #8ffab5;
}
@media (min-width: 500px) {
  .navigation .menu-block {
    bottom: 6em;
    right: 0;
    margin-right: 2em;
  }
}
@media (max-width: 499px) {
  .navigation .menu-block {
    bottom: 15%;
  }
}
@media (max-width: 499px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
@media (min-width: 500px) {
  .footer {
    bottom: 3em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 499px) {
  .footer {
    bottom: 2em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer .column.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .column.icons img {
  max-height: 1.1em;
  cursor: pointer;
}
.footer .column.icons img:last-child {
  margin-left: 1em;
}
@media (max-width: 499px) {
  .footer .column.icons {
    display: none;
  }
}
.footer .column.menu .menu-opener .line {
  display: block;
  border-radius: 5px;
  background-color: #afafaf;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 500px) {
  .footer .column.menu .menu-opener .line {
    width: 30px;
    height: 3px;
    margin: 0.32em 0;
  }
}
@media (max-width: 499px) {
  .footer .column.menu .menu-opener .line {
    width: 40px;
    height: 4px;
    margin: 0.42em 0;
  }
}
.footer .column.menu .menu-opener:hover {
  cursor: pointer;
}
.footer .column.menu .menu-opener:hover .line {
  background-color: #8ffab5;
}
.footer .column.menu .menu-opener.is-inactive {
  -webkit-animation: flash 1s;
          animation: flash 1s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.footer .column.menu .menu-opener.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.footer .column.menu .menu-opener.is-active .line:nth-child(1) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.footer .column.menu .menu-opener.is-active .line:nth-child(2) {
  width: 0px;
}
.footer .column.menu .menu-opener.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
@media (min-width: 500px) {
  .footer .column.menu .menu-opener.is-active .line:nth-child(1) {
    -webkit-transform: translateY(13px);
    transform: translateY(13px);
  }
  .footer .column.menu .menu-opener.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-4px) rotate(90deg);
    transform: translateY(-4px) rotate(90deg);
  }
}
@media (max-width: 499px) {
  .footer .column.menu .menu-opener.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  .footer .column.menu .menu-opener.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-11px) rotate(90deg);
    transform: translateY(-11px) rotate(90deg);
  }
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
}
@media (min-height: 672px) {
  .welcome-container {
    height: 100%;
  }
}
.welcome-container .center-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media (min-height: 672px), (min-width: 768px) {
  .welcome-container .center-block {
    height: 425px;
    width: 425px;
  }
  .welcome-container .center-block .logo-full {
    max-height: calc(425px);
  }
}
@media (max-height: 671px), (max-width: 767px) {
  .welcome-container .center-block {
    height: 325px;
    width: 325px;
  }
  .welcome-container .center-block .logo-full {
    max-height: calc(325px);
  }
}
.welcome-container .center-block img {
  -webkit-animation: rotation 20s infinite linear;
          animation: rotation 20s infinite linear;
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  70% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  90% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  10% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  20% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  30% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  40% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  60% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  70% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  80% {
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
  }
  90% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
.welcome-container .info-block {
  padding-top: 4em;
  max-width: 220px;
  text-align: center;
}
.welcome-container .info-block a {
  color: #8ffab5;
}
.welcome-container .info-block a:hover {
  opacity: 0.7;
}