* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
}

a {
  text-decoration: none;
  transition: all 0.1s ease-in;
}

@media (min-width: 992px) {
  #main {
    margin-top: 120px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

p,
a {
  font-size: 14px;
}

a {
  color: #363636;
}

a:hover {
  font-weight: 600;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1100px) {
  .container {
    width: 1070px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1270px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

.header {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(54, 54, 54, 0.1058823529);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.hssvrs-category-choice {
  position: fixed;
  height: 35px;
  width: 100%;
  z-index: 999;
  text-align: center;
  text-align: -webkit-center;
  margin: 30px 0;
}
.hssvrs-category-choice .-cc-choice {
  border-radius: 15px;
  padding: 10px;
  background-image: linear-gradient(35deg, #A4D1EB, #FCD5F7);
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 992px) {
  .hssvrs-category-choice .-cc-choice .-cc-text {
    background-image: linear-gradient(to right, #d17cc6, #363636 40%, #000 100%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  .hssvrs-category-choice .-cc-choice .-cc-text:before {
    content: "";
    background: #363636;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
  }
  .hssvrs-category-choice .-cc-choice .-cc-text:hover {
    background-position: 0;
  }
  .hssvrs-category-choice .-cc-choice .-cc-text:hover::before {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .hssvrs-category-choice .-cc-choice {
    display: none;
  }
}
@media (min-width: 768px) {
  .hssvrs-category-choice .-cc-choice {
    width: 650px;
  }
}
@media (min-width: 992px) {
  .hssvrs-category-choice .-cc-choice {
    width: 870px;
  }
}
@media (min-width: 1100px) {
  .hssvrs-category-choice .-cc-choice {
    width: 970px;
  }
}
@media (min-width: 1300px) {
  .hssvrs-category-choice .-cc-choice {
    width: 1100px;
  }
}
@media (min-width: 992px) {
  .hssvrs-category-choice {
    bottom: 100px;
  }
}
@media (min-width: 1500px) {
  .hssvrs-category-choice {
    bottom: 120px;
  }
}

.footer {
  background-color: #fff;
  box-shadow: 0 -3px 6px rgba(54, 54, 54, 0.1058823529);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 35px;
  width: 100%;
  z-index: 999;
}

.hssvrs-welcome-block {
  margin: 40px 0;
  border-radius: 50px;
  background-color: #A4D1EB;
}
.hssvrs-welcome-block .wb-area.-wb-title .-wb-heading {
  font-size: 42px;
}
@media (max-width: 767px) {
  .hssvrs-welcome-block .wb-area.-wb-title .-wb-heading {
    font-size: 24px;
  }
}
.hssvrs-welcome-block .wb-area.-wb-title .-wb-text {
  font-size: 18px;
}
@media (min-width: 992px) {
  .hssvrs-welcome-block .wb-area.-wb-title .-wb-text {
    margin-top: 20px;
  }
}
@media (max-width: 991px) {
  .hssvrs-welcome-block .wb-area.-wb-title .-wb-text {
    font-size: 16px;
    margin-top: 15px;
  }
}
@media (min-width: 992px) {
  .hssvrs-welcome-block .wb-area.-wb-3d {
    height: 500px;
    top: 0;
    right: 0;
    position: absolute;
  }
}
@media (min-width: 1024px) {
  .hssvrs-welcome-block .wb-area.-wb-3d {
    right: 3%;
  }
}
@media (min-width: 1100px) {
  .hssvrs-welcome-block .wb-area.-wb-3d {
    right: 10%;
  }
}
@media (min-width: 992px) {
  .hssvrs-welcome-block {
    padding: 120px 50px;
  }
  .hssvrs-welcome-block .wb-area {
    width: 50%;
  }
}
@media (min-width: 1300px) {
  .hssvrs-welcome-block {
    padding: 120px 90px;
  }
}
@media (max-width: 767px) {
  .hssvrs-welcome-block {
    padding: 30px;
  }
}/*# sourceMappingURL=App.css.map */